..wrapper{
    position: relative;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
}

.circle{
    position: absolute;
    width: 22%;
    height: 22%;
    border-radius: 50%;
    margin: 0 auto;
    background-color: #ee220c;
}   

.circle--topleft{
    top: 19%;
    left: 19%;
}

.circle--topleft:hover{
    z-index: 10; 
    background-color: tomato;  
}

.circle--topright{
    top: 19%;
    right: 19%;
}

.circle--topright:hover{
    z-index: 10; 
    background-color: yellow;
}

.circle--bottomleft{
    bottom: 19%;
    left: 19%;
}

.circle--bottomleft:hover{
    z-index: 10; 
    background-color: violet;
}

.circle--bottomright{
    bottom: 19%;
    right: 19%;
}

.circle--bottomright:hover{
    z-index: 10; 
    background-color: teal;
}

.squarebig{
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
    height: 40%;
    background-color: #00a2ff;
}

.squarebig:hover{
    z-index: 10; 
    background-color: violet;

}

.squarelittle{
    position: absolute;
    top: 39%;
    left: 39%;
    width: 22%;
    height: 22%;
    border-radius: 15%;
    background-color:#f8ba00
}
